:root {
    /* Layout */
    --gap: 1rem;
    --gap-section: 2rem;

    /* Colors */
    --color-background: #f3f3f3;
    --color-foreground: #0f181f;
    --color-highlight: #274156;
}

*:focus {
    outline: 2px solid var(--color-highlight);
}